@import '../../variables';

.najjarPrototype {
    @media screen and (max-width: $mobile) {
        >.najjarProjectSectionContent {
            >.left {
                font-size: 34px;
            }
        }
    }
}

.najjarDoc {
    .najjarDocButton {
        cursor: pointer;
        margin-top: 15px;
        margin-bottom: 20px;
    }
}

.jlf {
    background-image: url('./images/estampaJLFInfinita.png');

    background-size: contain;

    
    >div {
        >.jlfContent {
            background-color: #2B912DEA;
    
            border: 2px solid black;
    
            padding: 12px;
    
            @media screen and (max-width: $mobile) {
                padding: 0px;
            }
    
            >.left {
                padding-left: 75px;
                padding-right: 75px;
                >img {
                    width: 250px;
                    height: auto;
                }
    
                @media screen and (max-width: $mobile) {
                    padding: 0px;
                    >img {
                        width: 200px;
                        height: auto;
                    }
                }
            }
        }
    }
}

.sg {
    background-image: url('./images/SG_bg.png');

    background-size: contain;

    >div {
        >.sgContent {
            background-color: #2B912DEA;
    
            border: 2px solid black;
    
            padding: 12px;
    
            @media screen and (max-width: $mobile) {
                padding: 0px;
            }
    
            >.left {
                padding-left: 75px;
                padding-right: 75px;
                >img {
                    width: 250px;
                    height: auto;
                }
    
                @media screen and (max-width: $mobile) {
                    padding: 0px;
                    >img {
                        width: 200px;
                        height: auto;
                    }
                }
            }
        }
    }
}