@import '../../../../variables.scss';

.futureProjectsContent {
    display: flex;
    flex-direction: column;
    justify-content: center;

    >.title, >.subTitle {
        color: white;
        text-align: center;
    }

    >.title {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 38px;
    }

    >.subTitle {
        padding-bottom: 40px;
        font-size: 20px;
        font-weight: bold;
    }
}

.sub-games-title {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 38px;
    color: white;
    text-align: center;
    font-family: 'Righteous';
    
    @media screen and (max-width: $mobile) {
        width: 100vw;
    }
}