@import '../../../../variables.scss';

.aboutMeContent {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $mobile) {
        flex-direction: column;
    }

    >.left {
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: $mobile) {
            padding-left: 0px;
            padding-top: 20px;
        }

        >.image {
            width: 200px;
            
            > img {
                width: 100%;
                border: 1px solid $primary;
                border-radius: 100%;
            }
        }
    }

    > .right {
        display: flex;
        flex-direction: column;

        padding-left: 60px;

        @media screen and (max-width: $mobile) {
            padding: 0px 20px 12px;
        }

        .titleContent {

            display: flex;
            justify-content: space-between;
            align-items: center;

            @media screen and (max-width: $mobile) {
                flex-direction: column;
                padding-bottom: 8px;
            }

            .aboutMeTitle {
                font-size: 40px;
                margin-top: 16px;
                margin-bottom: 16px;
                font-family: "Righteous";
            
                @media screen and (max-width: $mobile) {
                    font-size: 36px;
                    margin-bottom: 6px;
                }
            }

            .channels {
                display: flex;
                justify-content: space-around;
    
                > a {
                    width: 48px;
    
                    @media screen and (max-width: $mobile) {
                        width: 36px;
                    }
    
                    > img {
                        width: 100%;
                    }
                }
            }
        }

        > p {
            margin-top: 0;
        }

    }
}